# Ignore node_modules
node_modules/

# Ignore environment variables file
.env

# Ignore logs
logs/
*.log

# Set the default behavior for all text files
* text=auto

# Ensure consistent line endings for specific files
*.json text eol=lf


# Ignore other sensitive files
